/*
- Code by : Rezky-Megabyte
- My Website : https://ayotaku.online/
- 2020
    ------ Thank You For Downloaded This Code ------
*/
body{
    background-color: #4d4d4d;
}
#box-login{
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    width: 400px;
    height: 250px;
    background-color: white;
    padding: 10px;
    padding-top: 2px;
    box-shadow: 0 4px 8px 0 white;
    margin-left: 35%;
    margin-top: 12.5%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
input{
    display: block;
}
input[type=submit]{
    margin-top: 10px;
    border: none;
    display: inline-block;
    width: 100%;
    height: 30px;
    background-color: #62db39;
    transition: 0.5s;
}
input[type=submit]:hover{
    background-color: #55bd32;
}
input[type=email], input[type=password]{
    padding: 10px;
    width: 95%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    color: #1c1c1c;
    font-size: 15px;
    transition: 0.5s;
}
input[type=email]:focus, input[type=password]:focus{
    outline: none;
    background-color: #a8a8a8;
    box-shadow: 0px 2px 2px 0px #eee;
}
#login-form{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}